.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Usercont{
  position: fixed;
  width: 100%;
  height: 18%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  background: rgba(245, 245, 245, 0.394);

}

#mepic{
  padding: 4%;
  width: 80px;
  height: 50px;
  animation: App-logo-spin;
}

.menu-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0.3%;
  justify-content: space-evenly;
  flex-direction: row;
  z-index: 10;
  background: dodgerblue;
}

.menu-bottom .menu-item{
  padding: 2%;
  color: whitesmoke;
}

.menu-item:hover{
  background: rgba(194, 224, 255, 0.389);
  border: 0.7px solid #ccc;
  cursor: pointer;
}

.Uinfo{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1.5%;
  color: dodgerblue;

}

.Uinfo h1, .Uinfo p{
  margin: 0.8%;
  text-align: justify;
}

.Section1{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 0.5%;
  margin-top: 10%;
  width: 99%;
  max-height: 400px;
  background: rgba(255, 186, 68, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Section h1,  .Section h4{
  font-size: 2vh;
  font-variant: small-caps;
  color: rgb(82, 0, 82);
}

.Section h4{
  margin-top: 3px;
}

.Section p{
  font-size: 1.3vh;
  color: whitesmoke;
  margin: 1px;
}

.Section2{
  margin: 0.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: greenyellow;
}

.Section2 button{
  padding: 1.2%;
  border-radius: 5px;
  border: 0.2px #ccc solid;
  color: whitesmoke;
  background: rgba(49, 30, 255, 0.86);
  font-weight: bolder;
}

#availablesection > div{
  margin-left: auto;
  margin-right: auto;
}

#savingsection{
  display: flex;
  flex-direction: column;
}

div#availablesection{
  margin: 3%;
  margin-top:10%;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: row;
}

div#availablesection h3{
width: 100%;
color: rgb(82, 0, 82);
}

div#availablesection .available{
  font-size: x-small;
  padding: 1%;
  margin: 2%;
}

div#availablesection .available p{
  text-align: center;
  margin: 3px;

}

hr{
  text-align: center;
  width: 88%;
  color: #ccc
}

#calculator{
  padding: 3%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 25%;
}

#calculator h3{
  color: rgb(82, 0, 82);
}

#calculator h5{
  font-size: x-small;
  color: lime;
}

#calculator input{
  width: 80%;
  height: 30px;
  border: 1px ridge #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 3px;
}

#calculator p{
  font-weight:bold;
  font-style: oblique;
  color: limegreen;
}

#calculator input:hover{
  border: 1.8px solid rgb(0, 157, 0);

}



#root > div.Section1 > div:nth-child(1) > svg, #root > form > svg{
  width: 40px;
  height: 50px;
  font-size: xx-large;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:400px)  {
    .Section1{
      margin-top: 23%;
    }

    .Usercont{
      height: 10%;
    }
}
