.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Usercont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mepic{
  padding: 4%;
}

.menu-bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 3%;
  justify-content: space-evenly;
  flex-direction: row;
}

.menu-bottom .menu-item{
  padding: 3%;
}

.Uinfo{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2%;
}

.Uinfo h1, .Uinfo p{
  margin: 0.8%;
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
